[2019-07-08 15:15] wachunei opened #12 "Develop branch?"
Should we have a develop branch that feature branches get merged to, and use it to make future releases?

[2019-07-10 02:21] CaptainGlac1er commented on #12
https://datasift.github.io/gitflow/IntroducingGitFlow.html

[2019-07-10 02:42] CaptainGlac1er opened #13 "Missing src directory"
Should the src directory be reconstructed as I doubt the lib folder was the src directory (then ignore the new src fodler from npm with .npmignore [and possibly ignore the lib directory from github?]), and maybe use typescript as the base and transpile it for npm, and provide the typedef for people using typescript?

[2019-07-17 08:51] daerion opened #14 "Update Wiki"
As @jamesaspence mentioned in [his comment](https://github.com/ZijianHe/koa-router/issues/503#issuecomment-511053895) in an issue of the original repo - the [Koa Wiki](https://github.com/koajs/koa/wiki#routing-and-mounting) still points to the old repo and should be updated.

Creating an issue here to increase visibility and to make sure it doesn't slip off the radar.

[2019-07-19 05:35] dead-horse commented on #13
this project is a pure javascript project, and there is no src folder here, lib folder includes all the original code.

[2019-07-19 05:35] #13 closed

[2019-07-19 05:35] dead-horse commented on #12
just create feature or bug fix branch in your own fork repo, and create pull request to the master branch. there is no develop branch for this repo.

[2019-07-19 05:35] #12 closed

[2019-07-19 05:36] dead-horse commented on #14
the wiki is open to public and everyone can edit it.

[2019-07-20 20:13] daerion commented on #14
I didn't even realize that :man_facepalming:
Updated the wiki just now.

[2019-07-20 20:13] #14 closed

[2019-07-26 11:15] golopot opened #15 "Fork repo or normal repo"
This repo is a "fork repo" instead of a "normal repo", there is a subtitle `forked from ZijianHe/koa-router` under the repo name, and a "This branch is 10 commits ahead of ZijianHe:master." thing.

Is it intended to be a fork repo? Or do you want to change it to a normal repo by some means( https://stackoverflow.com/questions/16052477/delete-fork-dependency-of-a-github-repository) ?

[2019-08-08 03:03] w4-hanggi opened #16 "This package has no typescript declaration file support"

[2019-08-08 04:26] niftylettuce commented on #16
I do not support TypeScript, period

[2019-08-08 04:26] #16 closed

[2019-08-08 04:27] niftylettuce commented on #15
It is normal now, detached.

[2019-08-08 04:27] #15 closed

[2019-08-19 12:17] MarcusCemes opened #18 "Unable to reuse nested routers (router mutation)"
I wanted to reopen an issue that never got fixed in the old unmaintained koa-router.
https://github.com/ZijianHe/koa-router/issues/244#issuecomment-184696207

#### Tested with

`koa-router` version: 8.0.0

`koa` version: 2.7.0

#### Code sample:

[code]

#### Expected Behavior:

The following paths should return a `Hello World!` body:

- GET /hello
- GET /foo/hello
- GET /bar/hello

#### Actual Be

[2019-08-19 20:23] jaamison opened #19 "Remove implicit dependence on static definitions of HTTP methods"
Cheers to the good folks who have stepped in to maintain this critical peice of the koa ecosystem. I'm ready to push a PR that cleans up this lib's internal handling of http method definitions, but I want to solicit some community feedback first. (ie this a proposal, not a complaint 👍)

We have some work to do re "allowed"/"standard" http methods. Get ready for some hair-splitting. If you're alrea

[2019-08-20 12:23] spidgorny opened #20 "Async not working as expected. "Not Found" instantly."
node.js version: 12.8.1

npm/yarn and version: 6.10.2

`koa-router` version: 7.4.0

`koa` version: 2.6.2

#### Code sample:

[code]

#### Expected Behavior:

the request should wait 1s before responding with either 'ok after 1s' or 'asd'

#### Actual Behavior:

instant response with "Not Found" although timeout is started and stopped as expected. But the results from the timeout not appearing in r

[2019-08-23 17:37] jamesaspence commented on #20
Interesting that you have an async function and are not using await. But you need to pass the second parameter, `next`, and I'd remove the `async` as you're not using it. You can change your code to this:

[code]

[2019-08-23 17:47] jamesaspence commented on #20
To clarify - this will run your code. If you want to return `ok after 1s` `ctx.ok` will not do it - I don't know where you got that from but to return a body you can use `ctx.body`.

[2019-08-23 17:49] jamesaspence commented on #19
I agree with this but for a slightly less important reason - I've noticed that autocomplete doesn't work well with these implicit methods. I'd say personally that we should hardcode them as they are rarely going to change, if at all.

[2019-08-26 20:52] lichaozhy opened #22 "The router.use([path], ...fn) might not be correct for path array."
node.js version: 10.15.3

npm/yarn and version: 6.5.0

`koa-router` version: 8.0.0

`koa` version: 2.7.4

#### Code sample:

[code]

#### Expected Behavior:

Request: [GET] ``http://127.0.0.1/api/foo/test`` or ``http://127.0.0.1/api/bar/test``

Response: 200 ``text/plain`` hello, world!

#### Actual Behavior:

Response: 404 ``text/plain`` Not found

#### Additional steps, HTTP request details, or

[2019-08-26 21:05] lichaozhy commented on #20
I guess the cause may just be some middlewares not calling ``return next()`` correctlly. Specially, the router middleware is an async function but parent middlewares are normal sync functions. I think you should check all of your middlewares has been called ``return next()`` strictly or not.

I often made mistakes like yours when I was young. Good luck~~

[2019-08-28 11:22] fl0w commented on #20
So, I'm not sure what `ctx.ok` is, I'm assuming that's something custom you have (because it aint part of Koa).

Anyway, this works fine IMO:

[code]

[code]

So, either the implementation of `ctx.ok` is broken, or you have a try-catch somewhere in the middleware chain which is swallowing the error thrown by mistake. `ctx.ok()` should throw a `TypeError` because it's not a function by the way - so

[2019-08-28 13:16] spidgorny commented on #20
You are right, there was a middleware above which was not using async/await. I was trying to fix it in the wrong place. This is fixed now.

[2019-08-28 13:16] #20 closed

[2019-08-31 18:47] stefanpl opened #26 "Documentation issue on npmjs.com"
The documentation on [npmjs.com](https://www.npmjs.com/package/@koa/router) still contains the line `var Router = require('koa-router');`, but should require `'@koa/router'`.

I could not figure out where this is actually coming from, as the `API.md` in the github repo contains the correct code. I've gotta admit I haven't pushlished to npmjs so far.

Would be nice to see this put right. (This migh

[2019-09-03 00:41] niftylettuce commented on #26
I've version bumped to v8.0.1, this should close the issue.

[2019-09-03 00:41] #26 closed

[2019-09-17 10:15] davnat commented on #16
`npm i -D @types/koa__router`

[2019-09-17 15:12] niftylettuce commented on #16
I do not support this.

[2019-09-18 01:25] chovy opened #27 "where's the documentation??"

[2019-09-18 04:52] niftylettuce commented on #27
in README, click API ref link https://github.com/koajs/router#api-reference

[2019-09-18 04:52] #27 closed

[2019-10-10 11:13] pke opened #30 "[feature] Add sitemap support"
I wonder how we could bring in a sitemap generator into the router. It think sitemaps would have to be generated at the router level, since all routes are (once declared) only know to the router.

But then its also not so easy to generate a sitemap for highly dynamic sites that use a lot of parameterised URLs.

[2019-11-04 06:49] BainDragneel opened #34 "The ctx. _matchedRoute is not the match route."
node.js version: v13.0.1

npm/yarn and version: 6.12.0

`koa-router` version: 7.4.0  and i tried @koa/router v8.0.2, too.

`koa` version: 2.7.0

#### Code sample:

Now I have two routes, one is "/api/order/list" and another is "/api/order/:orderId" ,

[code]
I want to log each request.I want the url I am recording to be the url of my own defined api, not the url directly with params.For example, w

[2019-11-10 01:23] andrefedev opened #35 "Typescript (Types)"
Hi guys, I have experience with Node for building clients (front-end), now I am building an api with Koa. We know that now Typescript is everywhere then because this repository like so many others Node is so little support for typescript types. Is it not recommended to use Typescript for the backend with Node..? Will there be native type support in Koa, Thank You.

[2019-11-11 09:40] fl0w commented on #35
There are no plans currently to rewrite Koa in Typescript. Whether you chose use Typescript or not is irrelevant to the library Koa. If you want to use Typescript, go for it. There's [types available](https://www.npmjs.com/package/@types/koa) as expected from the community.

[2019-11-11 09:42] fl0w commented on #35
Edit: *Oops, thought I was in Koa repo. You can ignore my (deleted) answer if you got a mail sent - but I think same applies, AFAIK there are no plans to rewrite Koa router in TS*

[2019-11-12 09:29] smbkr commented on #35
There is a types package available for @koa/router:

`npm install --save-dev @types/koa__router`

[2019-11-12 09:31] ArthurWD opened #36 "Critical Dependency error from outdated koa-compose"
See https://github.com/ZijianHe/koa-router/issues/512

[2019-11-30 04:50] esetnik commented on #35
This was hard to find. Can the maintainers bring types into the project? I'd submit a PR if they're willing to accept it.

[2019-12-01 00:01] niftylettuce commented on #35
I don't support TypeScript and don't plan on ever.  It's bad for the JavaScript community and open source maintenance imho.

[2019-12-01 00:08] niftylettuce commented on #35
released to npm as v5.1.1

[2019-12-01 01:05] niftylettuce commented on #35
actually I did not release this yet, there's a bug

[2019-12-01 01:07] #35 closed

[2019-12-04 15:44] sSeewald opened #38 "Missing "params" for mostSpecificLayer in Router middlewares"
`koa-router` version: 8.0.2

`koa` version: 2.8.1

#### Code sample:

See original implementation:
https://github.com/ZijianHe/koa-router/pull/490/files/da8ff9537049c3f062228591c4c54a3ca9284908

Half of it was implemented but not the storage of the already resolved params.

#### Expected Behavior:

*ctx.params* should be filled with the values of the current route.

#### Actual Behavior:

Route an

[2019-12-10 00:55] tinovyatkin commented on #36
Can be fixed by merging #33

[2019-12-10 15:56] niftylettuce commented on #36
🎉 v8.0.4 of `@koa/router` has been released to npm

`npm i @koa/router@latest` or `yarn add @koa/router@latest`

Thank you for reporting the issue!

[2019-12-10 15:56] #36 closed

[2019-12-11 06:45] silenceisgolden opened #39 "Issue with koa-session and ParameterizedContext"
node.js version: v12.10.0

npm/yarn and version: 6.10.3

`koa-router` version: 8.0.5

`@types/koa__router` version: 8.0.2

`koa-session` version: 5.12.3

`@types/koa-session` version: 5.10.1

`koa` version: 2.11.0

#### Code sample:

TODO: @silenceisgolden - make repro

[code]

#### Expected Behavior:

No errors in typescript compilation.

#### Actual Behavior:

[code]

#### Additional steps, HTTP

[2019-12-11 07:51] georgyfarniev commented on #35
@niftylettuce I strongly disagree, typescript has a lot of advantages and supported by serious companies. IMO including types is nothing but additional convenience for developers. I can help you to maintain them. Please include it :)

[2019-12-11 08:06] niftylettuce commented on #35
If I include it in one repository, then I start to have to do it across others.  Less is better.  I am very sorry, but accepting "types" then requires me to publish updates to it to npm, which requires more of my time.  I would rather dedicate time to very pressing issues versus maintenance to support a multitude of syntaxes that compile to plain JavaScript.  I hope you understand.

[2019-12-11 08:41] georgyfarniev commented on #35
@niftylettuce I understand that. Not big problem since DefinitelyTypes exists. Thank you for forking and supporting this package 🥇

[2019-12-11 09:15] niftylettuce commented on #35
No problem.  You may also find interest in https://lad.js.org.  I just put up the demo at https://lad.sh and just released v1.0.0 LTS codename "Jack".

[code]

If you need me directly for any pressing `@koa` related issues, you can find me in the Lad or Koa Slack channels.

[2019-12-11 09:22] georgyfarniev commented on #35
@niftylettuce thanks, I will take a look. I tried to use koa-ts-controllers today, then I realized that I want to implement it in functional style instead of decorators and DI, which is much easier to do in koa. Them I found that you forked router. Glad that you supporting it. I want to keep things as simple as possible, just like vue 3 did instead of using classes everywhere. FP rules!

[2019-12-12 04:32] silenceisgolden commented on #39
Issue is resolved by this comment: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/36161#issuecomment-555634427

[2019-12-17 22:50] smarts opened #40 "Routing does not handle optional route parameter with prefix"
node.js version:
`13.3.0`

npm/yarn and version:
npm `6.4.1`
yarn `1.19.2` (this is what i'm using)

`@koa/router` version:
`8.0.5`

`koa` version:
`2.11.0`
#### Code sample:

[code]

#### Expected Behavior:
- `http://localhost:3080/foo.json` returns `it worked` as a text response
- `http://localhost:3080/foo` returns `it worked` as a text response
- More generally, `@koa/router` matches routes th

[2019-12-18 07:39] niftylettuce commented on #30
It would be easier to create a crawler, sitemaps are for public only facing routes.

[2019-12-18 07:39] #30 closed

[2019-12-20 17:53] smarts commented on #40
FYI i got this working by inlining the code for this package and updating the code to rely on the latest version of `path-to-regexp`. Is there any interest in a pull request w/ the update?

[2019-12-20 19:05] niftylettuce commented on #40
If this is a bug a PR is welcome for sure

[2019-12-20 19:06] niftylettuce commented on #18
https://github.com/koajs/router/pull/24#issuecomment-563359492

[2019-12-20 19:06] #18 closed

[2019-12-20 19:30] smarts commented on #40
Thanks for replying @niftylettuce. Well, _I_ think it's a bug, but I don't know how to prove that w/o someone on the ownership team taking a look. However, I can confidently state that several bug fixes have gone into the underlying library (`path-to-regexp`) since the version that `@koa/router` relies on. It relies on 1.x and the current version is 6.1.0.

[2019-12-20 19:38] niftylettuce commented on #40
Can you write a failing test case and submit it as a PR?  Based off your expected + actual behavior above?  Would be greatly appreciated as a lot of the legwork could be done for me in advance.

[2019-12-23 06:27] #22 closed

[2019-12-23 06:56] niftylettuce commented on #34
Can you submit a PR that has a failing test case?  This is a good find, thank you!

[2019-12-25 04:55] niftylettuce opened #42 "`forEach` should be rewritten to `for` loop for optimized boot performance"

[2019-12-27 00:29] smarts commented on #40
I'd be happy to, but the test script does not work on Windows.

[2020-01-09 08:57] golopot commented on #42
Do you mean ES1 for loop or ES6 for of loop?

[2020-01-10 18:45] julienw opened #44 "Middlewares aren't called if there's no matched route"
I found that this was also discussed in the old repository in https://github.com/ZijianHe/koa-router/issues/182 https://github.com/ZijianHe/koa-router/issues/257 https://github.com/ZijianHe/koa-router/issues/239.

The problem can be seen with a code like this. The testcase could be made simpler but I left it like this so that it's closer to my real-world case, implementing CORS.

[code]

This is a

[2020-01-11 10:31] fedyk commented on #35
@niftylettuce big thanks for your efforts with supporting this project.

From the scale of interest to this ticket, I’d suggest not to decline the idea with typescript. Moreover, it can be implemented as a test project on side branch or even gradually added(typescript does support plan javascript as well).

Also, the porting to typescript will create a traction, invite more people to learn and con

[2020-01-11 20:30] niftylettuce commented on #35
I understand your comments @fedyk and thank you for them

[2020-01-13 21:33] pantuchy opened #46 "Router runs middleware on routes, which are not in array."
node.js version: v10.16.3

npm/yarn and version: 6.13.4

`@koa/router` version: 8.0.5

`koa` version: 2.11.0

#### Code sample:

[code]

#### Expected Behavior:

Expected, that route '/' will effect exactly for route '/', when using:
`router.use([
   '/signout',
   '/',
   '/update',
   '/password/change',
   '/email/change/request'
], guard.user.passport('jwt'), guard.csrf())`
So that passport mi

[2020-01-14 11:23] julienw commented on #46
Maybe specify the route for signin _before_ declaring this middleware.
The order of declaring routes and middlewares is important.

[2020-01-14 11:24] julienw commented on #46
Another possibility is to declare different routers for your different concerns. In a specific router, Koa-router won't execute a middleware if there's no matching route. (I'd like to change this behavior in #44 though).

[2020-01-14 15:44] pantuchy commented on #46
But if I will declare /signin route before declaring middleware, then middleware `guard.user.passport('local')` and controller will execute before validation middleware, am I right? If yes, then this is not, what I am expecting, because validation middleware should execute first, and only if validation succeeds, only then should run the rest middleware chain. With this approach I prevent unnecessa

[2020-01-14 15:44] pantuchy commented on #46
Thank you for your advise, will think about it, may be it will be a solution.

[2020-01-14 17:19] julienw commented on #46
I haven't worked with passport since ages so I can't advise more :-)

[2020-01-14 17:22] pantuchy commented on #46
Passport is just another middleware as well as controller 🙂

[2020-01-14 17:30] julienw commented on #46
I've just found https://github.com/Foxandxss/koa-unless that might be interesting for your use case.

[2020-01-20 09:08] kroleg commented on #34
This is not a bug, it's a feature (kind of). Here is `@koa/router` code (lib/router.js:342):
[code]
@BainDragneel in your case matchedLayers look like: [`/`, `/order/list`, `/order/:orderId`] and `/order/:orderId` is just most specific route.
You may specifiy regexp for `id` param like `/order/:orderId/:id([0-9]+)` but in this case _matchedRoute will equal to `/order/:orderId/:id([0-9]+)` for url

[2020-01-21 23:38] kravorkid commented on #42
@golopot Guess he is talking about a classic ES1 `for loop` seems to be much faster than a `for of`

[2020-01-21 23:38] niftylettuce commented on #42
Correct

[2020-01-22 22:12] mcrawshaw commented on #35
Added doc PR to make the name of the types package a little more obvious https://github.com/koajs/router/pull/47

[2020-01-23 18:57] smarts commented on #40
@niftylettuce ☝🏽

[2020-01-24 09:37] mahnunchik opened #48 "UnhandledPromiseRejectionWarning"
Hi,

How to catch errors? The following code produces: `UnhandledPromiseRejectionWarning: BadRequestError: blabla`

[code]

node.js version: v12.14.1

npm/yarn and version: 6.13.4

`@koa/router` version: 8.0.6

`koa` version: 2.11.0

#### Code sample:

[code]

#### Expected Behavior:

Like without router

[code]

Response `blabla` with 400 status code.

#### Actual Behavior:

(node:90487) Unhandle

[2020-01-28 16:27] thewilkybarkid opened #49 "Add throw option to the routes middleware"
The `allowedMethods` middleware has a `throw` option, I'd like to add the same to `routes`. For now I have a custom middleware (https://github.com/libero/article-store/blob/master/src/middleware/routing.ts), but it'd be great to have it built in.

[2020-02-02 01:23] JacobMGEvans commented on #42
I may take a look at this.

I'll use the counter `for` over the `for of` as suggested.

[2020-02-06 01:39] JacobMGEvans opened #52 "Bench files not working properly (Improve Benchmark testing and usage)"
- nest() method seemed deprecated and was replaced by in the API so I used .middleware() seemed to handle the change ok.
- I will create a separate PR with the benchmark code changes.  😃

- [x] Initial Fix Bench files & add script in package.json
- [x] Update Bench folder
- [x] Improve Bench server.js code _(could still refactor and improve more)_
- [x] Improve Makefile
- [x] Improve run shell fil

[2020-02-06 03:35] meteorlxy opened #53 "Router.use() doesn't take in composed Router middleware as expected"
node.js version: 10.16.0

npm/yarn and version: yarn 1.17.3

`@koa/router` version: 8.0.6

`koa` version: 2.11.0

`koa-compose` version: 4.1.0

#### Code sample:

[code]

#### Expected Behavior:

Visit `'/'`, get `'not work'`

#### Actual Behavior:

Visit `'/'`, get `'Not Found'`

[2020-02-06 07:08] #42 closed

[2020-02-07 03:46] JacobMGEvans commented on #48
I will take a look at this when I get a minute.

[2020-02-08 13:26] egaoneko opened #54 "Current version(8.0.7) make Out Of Memory"
node.js version: 10.16.0

npm/yarn and version: 1.17.3

`@koa/router` version: 8.0.7

`koa` version: 2.11.0

#### Error message:

[code]

#### Expected reason:

I tried to find the reason from the recent changes in PR(#50). I found some codes that expected bugs.

![image](https://user-images.githubusercontent.com/6583941/74085776-141f6700-4ac0-11ea-813b-25194dead37d.png)

https://github.com/koajs/

[2020-02-08 14:49] JacobMGEvans commented on #54
The `index` was the forEach index, when changing to an ES1 for loop it referenced the index of the for loop which is defined as `i`.
The `this` was defined in the callback of the `forEach` at the end `}, cloneRouter.stack)` which sets the `forEach` local `this` to `cloneRouter.stack`

As for the heap memory issue, I wonder why the tests and manual checking didn't catch it.
What was the code implem

[2020-02-08 16:09] Gusten commented on #54
Our test suites are failing with "JavaScript heap out of memory" after upgrading to 8.0.7 as well, just like egaoneko is experiencing. Practically the same stacktrace as above. Only difference is that I'm using node 13.8.0.

[2020-02-08 16:48] egaoneko commented on #54
@JacobMGEvans
Oh, I miss watched about `index` with `forEach`.
When I tested it, It does not occured with just koa and router.
We use koa with Next.js, TypeScript, Webpack.
I try to make a sample code for it.

[2020-02-08 19:22] JacobMGEvans commented on #54
The codebase won't be using `forEach` anymore but if we can figure out the problem that is causing the memory leak then we can create a test for it and then fix it as well.

[2020-02-08 19:25] JacobMGEvans commented on #54
@Gusten  Would it be possible to see the tests that are failing from your code and unit it is testing?

Also what is the tech stack, @egaoneko mentioned that Next.js, TS and Webpack are being used in the project that this issue is occurring?

[2020-02-09 05:02] egaoneko commented on #54
@JacobMGEvans
I made a sample code causing infinite loops.
https://codesandbox.io/s/koa-router-807-test-yj8c5

[code]

This problem occurs in the above code when middlewares are bigger than nested layers.
As I said before, this happens because of the nested `i`.

Unlike `let` and` const`, `var` is a function scope, so this problem occurs.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Ref

[2020-02-09 10:33] #54 closed

[2020-02-09 10:36] niftylettuce commented on #54
v8.0.8 released

[2020-02-09 13:28] JacobMGEvans commented on #54
@egaoneko hahaha I can't believe I missed that nested `for loop` nice catch and fix! 🎉

I'll see if I can write a test for this particular section of code. Thanks for fixing my mistake 😄

[2020-02-10 01:28] JacobMGEvans opened #56 "Use an alternative to hardcoded 3333 in Bench tests"
@niftylettuce
We could also potentially use .env https://github.com/motdotla/dotenv

which could also allow for more environment variables to be dynamic from Node defined in a local .env file process and with hardcoded fallbacks.

_Originally posted by @JacobMGEvans in https://github.com/koajs/router/pull/51#issuecomment-583921152_

[2020-02-10 05:21] niftylettuce commented on #56
`@ladjs/env` is better (I made it too!)

https://github.com/ladjs/env

example usage https://github.com/ladjs/lad.sh or https://github.com/forwardemail/forwardemail.net

[2020-02-13 17:10] bellstrand commented on #54
I think you missed releasing it on npm thou!, Would be appreciated :)

[2020-02-15 05:54] niftylettuce commented on #54
It is released on npm.

https://www.npmjs.com/package/@koa/router v8.0.8

I forgot to release the legacy version of koa-router, but just did so.

https://github.com/sponsors/niftylettuce

[2020-02-17 03:30] JacobMGEvans opened #57 "Write More Tests, Improve Coverage, Add Istanbul for coverage"

[2020-02-17 19:20] #57 closed

[2020-02-17 19:20] niftylettuce commented on #56
@JacobMGEvans 	could you get this in too?  I just merged your other PR

[2020-02-18 09:55] joolfe opened #59 "npm project to use"
Hi,
Normally this project had been published in [@koa/router](https://www.npmjs.com/package/@koa/router) in npm but i have seen that 3 days ago this exactly project has been also published in [koa-router](https://www.npmjs.com/package/koa-router) that is the deprecated project... witch npm project should we use as dependency?

Best Regards

[2020-02-18 18:48] niftylettuce commented on #59
I maintain both, either is fine.

[2020-02-18 18:48] #59 closed

[2020-02-18 21:57] bb-user-01 commented on #53
Same here. Spent an hour to find out `use..` was not composed as `app.use`. Tryied put put `'*'` or anyhing in the `use(path,...` but no luck. I am building a little app abstraction layer, so, I will use a different code path for the `use` and do a compose with the `router.routes()`. Would have been nice if it was just a way to put `.use` in an router (nothing more. nothing less).

[2020-02-20 10:50] joolfe commented on #59
Thanks!

[2020-02-22 13:46] JacobMGEvans commented on #56
I'll probably work on this, this weekend

[2020-02-22 20:37] niftylettuce commented on #56
❤️ 👍 🙇

[2020-02-23 03:54] JacobMGEvans opened #61 "Travis Node Version Support Update"
To avoid breaking builds and to update the Travis pipeline, bumping the Node versions to be more in line with Node release support can be implemented like this example.

[v10 & v11 are LTS (long term support) ](https://nodejs.org/en/about/releases/)

[code]

[2020-02-24 21:09] #56 closed

[2020-02-24 21:09] #61 closed

[2020-02-24 21:09] niftylettuce commented on #52
I believe we can close this now?  Let me know - I merged both of your PR's - is it ready to cut a new release to npm for?

[2020-02-24 21:10] niftylettuce commented on #61
👍 	thank you as always @JacobMGEvans

[2020-03-01 18:04] dominicegginton commented on #53
Can replicate the issue you are having, my solution, if you still need it, is to simply skip composing `router2.routes()` and `router2.allowedMethods()` together and pass them both into the `router1.use()` method:

[code]

[2020-03-04 21:48] zacanger commented on #48
What versions of the libraries are you on, and do you have any other middlewares that could be affecting things? This minimal reproduction works as expected:

[code]

[2020-03-05 00:44] lagden commented on #48
You need an error handler...

Example:

[code]

[2020-03-07 00:12] lagden commented on #53
@meteorlxy

It's not necessary use `compose`.
You can see the @dominicegginton example above.

I make this way to put my `routes` together (using `compose`):
https://github.com/lagden/api-boilerplate/blob/master/server/routes/index.js

[2020-03-10 11:40] meteorlxy commented on #53
@lagden

Yeah, it's not necessary. But IMO, all middlewares of koa should work with `koa-compose` ? 🤔

[2020-03-14 12:59] JacobMGEvans commented on #52
- no tests on benchmark code server.js
- could still refactor and improve server.js more

[2020-03-14 12:59] #52 closed

[2020-03-14 14:51] JacobMGEvans commented on #19
@jaamison is this PR still in the works, I am interested in seeing it. 😀
Not sure what Koa's core teams feelings are on this @niftylettuce
- Maybe we can bump this RFC (request for comment) and see if we can get some responses.
🤔

[2020-03-14 17:16] TrejoCode opened #65 "Router GET with parameter and Nested Routes It's possible?"
Hi, have a problem with the routes, it is the following:

All courses: **Works**
[code]
Specific course: **Works**
[code]
Specific course with Nested Routes: **Doesn't work - 404**
[code]
courses.js
[code]

levels.js
[code]

Can anybody help me?

[2020-03-26 04:28] tigt commented on #40
Just got bit by this. Is there anything I can do to help — including donating?

[2020-03-26 04:36] niftylettuce commented on #40
PR welcome with a version bump

[2020-03-27 17:18] kravorkid commented on #65
your last `route.get('/:id/levels', levels.routes());`
transform your `get` by a `use` and it should work

exemple extracted [from the documentation ](https://github.com/ZijianHe/koa-router#nested-routers)
`var forums = new Router();
var posts = new Router();

posts.get('/', (ctx, next) => {...});
posts.get('/:pid', (ctx, next) => {...});
forums.use('/forums/:fid/posts', posts.routes(), posts.allo

[2020-03-27 23:03] TrejoCode commented on #65
Thank you, i'll try and and tell you

[2020-03-28 03:04] TrejoCode commented on #65
Works, using:
```route.use('/:id', levelsRoutes.routes());```

Example:

[code]

Thank you, seems strange because i need 'repeat' the same route.

[2020-03-28 03:04] #65 closed

[2020-03-28 13:46] kravorkid commented on #65
You don't have to repeat yourself the levels router handle his own business, here i have maid an explicit exemple below

[code]

[2020-03-28 14:06] TrejoCode commented on #65
Thank you, i'll try.

[2020-03-28 16:36] mudgen opened #67 "What does @ mean in @koa/router?"
Sorry for the silly question.    Why is there an "@"  in "@koa/router"?    What does the "@" mean?

Thanks

[2020-03-28 17:29] niftylettuce commented on #67
https://docs.npmjs.com/using-npm/scope.html

[2020-03-28 17:29] #67 closed

[2020-03-30 04:28] cymen commented on #38
This may or may not fix what you're running into: https://github.com/koajs/router/pull/69

[2020-03-30 15:35] cymen commented on #38
@sSeewald If #69 doesn't fix what you're seeing, can you add a test case or describe how to reproduce? I can take a crack at fixing it if I didn't fix it with #69. I'm starting to understand how koa-router works and wouldn't mind spending some more time digging into it.

[2020-04-09 00:18] #40 closed

[2020-04-09 00:21] tigt commented on #40
@Sinewyk, thank you so much!

[2020-04-09 00:24] niftylettuce commented on #40
v9.0.0 released to npm

https://github.com/koajs/router/releases/tag/v9.0.0

[2020-04-09 00:24] Sinewyk commented on #40
Here's to hoping I didn't break something else.

[2020-04-12 11:50] gaoxuerong opened #74 "Why not use const replace var?"
Why not use const replace var?🤔

[2020-04-14 21:34] zacanger opened #76 "Using * wildcard no longer works"
node.js version: 12.6.1

npm/yarn and version: npm 6.14.4

`@koa/router` version: 9.0.0

`koa` version: 2.11.0

#### Code sample:

[code]

#### Expected Behavior:

App should not crash

#### Actual Behavior:

App crashes:

[code]

I believe the path-to-regexp upgrade in #71 broke this. The use case here is, for example, SSR on any route that doesn't match a previously defined one.

[2020-04-14 21:49] niftylettuce commented on #76
Ping @Sinewyk @tigt -- can you resolve/PR?

[2020-04-14 22:38] Sinewyk commented on #76
Not a bug, it's a feature :trollface:

For real though: it's a breaking change inside `path-to-regexp`

https://github.com/pillarjs/path-to-regexp#compatibility-with-express--4x

[2020-04-14 22:40] zacanger commented on #76
Ah, thank you! Would it be worth documenting that in this repo's changelog, since it is technically a breaking change?

[2020-04-14 22:48] Sinewyk commented on #76
It is marked as a breaking change: which is why it's `9.0.0` and not `8.1.0` 😎

But yeah, probably a note in the readme to underline breaking changes in the path-to-regexp library with a link to it or something, why not.

[2020-04-14 22:50] niftylettuce commented on #76
If anyone submits a PR with notice I would merge

[2020-04-14 22:55] #76 closed

[2020-04-14 22:56] zacanger commented on #76
Thanks folks!

[2020-04-15 02:30] brunoti opened #78 "Add a TypeScript integration doc"
Hi!

Can we have a TypeScript integration doc add to the project? I had a hard time trying to understand why my code was not compiling because of @types/koa-router vs @types/koa__router [and this issue I found on StackOverflow](https://stackoverflow.com/questions/56125831/how-to-invoke-a-controller-method-from-koa-router).

I believe that other people had the same problem, and I saw on some issues

[2020-04-15 02:45] niftylettuce commented on #78
I do not support nor encourage TypeScript to be used in the JavaScript open source community.

[2020-04-15 02:45] #78 closed

[2020-04-20 04:24] niftylettuce opened #79 "Core breaking issues with v9.x"
I'm not sure what's up here @Sinewyk @zacanger but I upgraded a project to v9.x and it broke authentication (Google auth passport).

Just filing this for now until I can figure it out.

[2020-04-20 04:36] niftylettuce commented on #40
I deprecated v9.0.0 as I found core issues with it in my app

[2020-04-20 04:36] niftylettuce commented on #79
I deprecated v9.0.0 as I found core issues with it in my app

[2020-04-20 12:11] Sinewyk commented on #79
Thoughts:
 - It is a breaking change. Anyone using `^` (which is the default in all package managers afaik) should not have any issues UNLESS they specifically ask for a major upgrade (cf, read their accompanying package manager documentation). No need to lock things down, it's already the case.
 - I'm interested in more information. All tests are green, and I actually don't see `@koa/router` bein

[2020-04-20 15:23] zacanger commented on #79
Do you have a code sample? I just tried a super minimal test with koa-passport and the local strategy, and didn't have any problems.

[2020-04-20 17:33] niftylettuce commented on #79
Yes, auth is broken on https://github.com/ladjs/lad.sh for Google Sign In.
Not 100% sure why.  I have unpublished v9.0.0 completely from npm with
their help as well until this is further resolved.

On Mon, Apr 20, 2020 at 10:23 AM Zac Anger <notifications@github.com> wrote:

[2020-04-20 17:49] lagden commented on #79
:(
I'm using v9.0.0!

[2020-04-20 17:50] zacanger commented on #79
Unpublishing was probably a risky choice, that could break builds. I just had to run through six microservices and downgrade real quick.

[2020-04-20 17:52] niftylettuce commented on #79
I only had published v9.0.0 to `@koa/router` (I did not mirror it to `koa-router`).  If you want to keep using v9.0.0 you can install via:

[code]

or with yarn:

[code]

[2020-04-20 17:52] niftylettuce commented on #79
Or we can try to figure out what the underling issue is here - I believe it to be something with `/foo/:param/bar` personally.

[2020-04-20 17:56] Sinewyk commented on #79
Major changes that could trip people up with the underlying `path-to-regexp` change:
  - encode/decode stuff, if you used to just pass shit in the url, now you have to specify encode/decode when generating links <= I fixed the tests to use encode/decode, but no note in the readme.
  - No more wildcard `*`, use the other syntax <= we had no test for this, but we added a note in the readme.
  - They

[2020-04-21 12:38] rynti commented on #79
I don't understand why the version was unpublished.
Version 9 introduced breaking changes, which means that users of the library potentially have to implement changes to keep their code working with the new version - which is what I had to do. But this should not be a surprise as the usage of semantic versioning (pushing a new major version) makes this apparent.
Nonetheless, thanks for providing t

[2020-04-21 14:38] zacanger commented on #79
@niftylettuce could the trailing slash thing be the issue, if you have any routes that end in a slash? Here's a test with v9:

[code]

[2020-04-21 15:16] ohardy commented on #79
Hi,

Really, you can't unpublish a package published more than 10 days ago !! Everything are stuck on our side because of that.

Can you publish again this version and handle fixes in a 9.0.1 plz ?

Thanks

[2020-04-21 16:24] zacanger commented on #78
@brunoti that's an issue with all scoped packages that have types under the `@types` scope, not really a Koa Router issue. Every `@types/` package for something that's already under a scope uses a double underscore to refer to a package in another scope. https://github.com/DefinitelyTyped/DefinitelyTyped/tree/987a09b4979415a83491328a57cf4def5b7e1bc7#what-about-scoped-packages

[2020-04-21 16:32] zacanger commented on #74
@niftylettuce since `engines` is 8+, this wouldn't be a breaking change. I'd be happy to run through and switch off `var` everywhere, I already did that on my fork back when there was that drama with koa-router getting sold.

[2020-04-21 16:37] zacanger commented on #39
The TypeScript types aren't maintained in this package, that's an issue for the DefinitelyTyped repo.

[2020-04-21 16:48] zacanger commented on #74
Switching to const, v8 can possibly do some tiny optimizations. Between let and var, there's no difference except in the case of C-style for loops. https://stackoverflow.com/questions/40070631/v8-javascript-performance-implications-of-const-let-and-var

[2020-04-21 18:17] JacobMGEvans commented on #79
It would be a great test case to add too and include the Tests in the Travis build, which might catch future issues.

[2020-04-21 18:45] zjr commented on #79
@Sinewyk Where is there a note about this in the readme? I looked in the README.md, in the API reference, and in the release notes all on v9.0.0 and don't see anything.

When I saw the major version change I checked all over for notes about what might be breaking changes and didn't see anything referencing this.

[2020-04-21 18:47] zacanger commented on #79
@zjr Not in the readme, it's in the changelog, `history.md`

[2020-04-21 18:59] zjr commented on #79
Ahhhhh thank you @zacanger. I didn't even see that since I'm used to looking for a CHANGELOG.md. Any particular reason that kind of stuff doesn't go into the release notes?

Here's where this is weird for me, and I mention it because maybe it's weird for other people too…

I have several different projects in maintenance that use this dependency. Since I can't manually go around checking deps ever

[2020-04-21 19:01] zjr commented on #79
There's a small bit of extra weirdness with this repository in particular in that you've had other major revisions that didn't necessarily reflect any actual breaking changes due to that whole kerfuffle about splitting this codebase away from the other repo that got sold etc etc.

[2020-04-21 19:13] zacanger commented on #79
It looks like dependabot does support `history.md`: https://github.com/dependabot/dependabot-core/blob/d5240b0e22cce76a52041dd88258a923db1a176c/common/lib/dependabot/metadata_finders/base/changelog_finder.rb#L20

I agree that keeping all release notes under GH releases would be good. That was probably my bad, rather than submitting https://github.com/koajs/router/pull/77 I should've asked for the

[2020-04-21 19:31] zjr commented on #79
That does appear like it should support them. I think I see what the problem is (was).

The 9.0.0 release was made April 8th, but the history.md wasn't updated until April 14th. So, nothing would have gotten picked up and this wouldn't have been available on release. At least assuming I'm reading everything correctly. I'm looking at the date on the release and the merge date on the PR you linked (

[2020-04-21 20:06] niftylettuce commented on #79
If anyone wants to submit a PR with more test cases added, and if any break, patches, please do.  Thank you

[2020-04-21 20:06] #79 closed

[2020-04-21 20:40] Sinewyk commented on #44
I don't agree with you. The only problem here is documentation. Not code.

Put in the documentation that middlewares that are `used` on the router are executed if and only if a route is matched. Problem solved. You already solved it yourself.

if your premise is

you are wrong

[code]

`whatever` may not execute based on the decision of the parent, no surprise there.

Refs:
  - https://github.com/

[2020-04-22 10:28] julienw commented on #44
Yes, I wrote in the first line of the initial comment that this has been discussed before. I've seen it. I took the time to write this issue and this PR especially to discuss this more, and possibly decide to change the intended behavior. I understand this wouldn't be a light decision, so I would totally expect some sort of discussion.

That's why I came with arguments and a use case. And to be ho

[2020-04-22 13:20] Sinewyk commented on #44
For me it's about cross cutting concerns.

Current case:
[code]

You do not have to know what's inside router1 and router2 if testing your websocket stuff.

You said "give me the routes middleware".

You have one way to do one thing.

Your case:
[code]

Here you said "give me the routes middleware and also every middleware you used on the router that will NOT match a route", weird 🤔

__More import

[2020-04-23 16:16] TheMrZZ commented on #39
Still definitely a problem. I've no idea how to fix this, and reverting to "@types/koa 2.0.50" when we are at the 2.11.3 version seems like a terrible idea.

[2020-04-23 17:12] zacanger commented on #39
I would suggest taking that up again on the linked issue https://github.com/DefinitelyTyped/DefinitelyTyped/issues/36161 or putting in a PR on that project, since that's where the types are maintained.

[2020-04-28 01:09] #44 closed

[2020-04-28 01:09] #74 closed

[2020-05-02 22:28] smarts commented on #40
Since you deprecated v9.0.0 can you please reopen this @niftylettuce ?

[2020-05-02 22:31] smarts commented on #40
Also, @niftylettuce did you or someone else who's an owner of this project take a look at the test case to verify that it's a legitimate bug?

[2020-05-10 22:28] theoephraim opened #84 "How to reroute a request"
Looking for some guidance on how to "reroute" a request from a route handler. Basically I'd like to have a route that makes some adjustments to the request (change `ctx.url`) returns control back to the router to try to find another matching route.

Express had a concept of calling `next('route')` to do something like this, but I can't find anything similar int the docs. Is this supported?

Thanks

[2020-05-13 11:05] ajimix opened #86 "Version 9 is not published"
At some point, version 9 was published in npm: https://www.npmjs.com/package/@koa/router

But now is not available anymore. Can it be pushed again?

[2020-05-18 20:14] niftylettuce commented on #40
When I tested, there were several core routing issues with v9.x.

[2020-05-19 16:12] puzzledbytheweb commented on #39
Hey @TheMrZZ I had that issue and solved it by following this reply - https://github.com/DefinitelyTyped/DefinitelyTyped/issues/36161#issuecomment-571295417

[2020-05-27 06:52] niftylettuce commented on #86
I will have an update for you soon, I believe @3imed-jaberi can help out here 🎉

[2020-05-30 08:08] niftylettuce commented on #86
v9.0.1 released https://github.com/koajs/router/releases/tag/v9.0.1

[2020-05-30 08:08] #86 closed

[2020-06-01 04:52] smarts commented on #40
@niftylettuce I understand that, but this is still a bug... And sorry if this is what you were referring to, but [this comment](https://github.com/koajs/router/issues/40#issuecomment-623024104) was asking if you looked at #43
That's the failing test you asked me to write. Are you preferring to close this issue in favor of that pull request?

[2020-06-01 04:53] niftylettuce commented on #40
v9.0.1 is released.  See #43, please update PR and I will accept

[2020-06-01 04:54] niftylettuce commented on #40
@smarts one moment, I'm going to have @3imed-jaberi look at that.

[2020-06-01 19:26] danieldahan opened #88 "Issue with dependency"
node.js version: v12.16.3
`@koa/router` version: latest
`koa` version: latest

Hi!

Not sure if you seen this error before, but it seems that building with your latest causes this weird issue. Any advice on this would be helpful. Thank you!

<img width="646" alt="Screen Shot 2020-06-01 at 12 14 20 PM" src="https://user-images.githubusercontent.com/9982123/83446072-58d26380-a40b-11ea-8ba0-ea55661bc

[2020-06-01 19:56] niftylettuce commented on #88
We don't support TypeScript

[2020-06-01 19:56] #88 closed

[2020-06-01 19:57] danieldahan commented on #88
And that makes sense. Cool, thank you!

[2020-06-02 14:45] Dronar opened #89 "Localized routes"
Hi!

I recently encountered a task where I needed my routes to be localized for different languages.
I also wanted a localized route only to be active for that language, i.e responding with a 404 if that route did not belong to that language.

I posted a question on StackOverflow which I then managed to solve myself: https://stackoverflow.com/questions/62081482/localized-routes-in-koa/

I am not s

[2020-06-10 02:52] 3imed-jaberi commented on #48
@mahnunchik, I think the answers are enough .. I want to add that I checked your code and I didn't encounter any problem.
 if you still have this problem can you provide a complete example !!

[2020-06-10 02:58] #48 closed

[2020-06-10 03:06] #39 closed

[2020-06-13 05:35] yamavol opened #90 "Middleware used in a nested router is evaluated on unrelated routes."
#### Descriptions

The middleware used in a nested-router can be triggered if the regexp matches (matchedRoute) with the unrelated path. The behavior is something intuitive or not easily predictable.

I wrote one router like this, intending to run "checkAuth" middleware when the user accesses to `/a/1` or any other subroutes written under `/a`.
[code]
However, accessing `/about` (defined elsewhere

[2020-06-21 04:21] zhonggithub opened #91 "koa-router v9 not supporting wildcard anymore"
router.get('/*', async (ctx) => {
  ctx.type = 'html';
  ctx.body = fs.createReadStream(`${__dirname}/../public/index.html`);
});

same issuse https://github.com/ZijianHe/koa-router/issues/527#issue-636445799
the error where happing like this:

/Users/zz/workspace/zBase/z-app/node_modules/path-to-regexp/dist/index.js:113
        throw new TypeError("Unexpected " + nextType + " at " + index + ", ex

[2020-06-21 08:18] tabarra commented on #91
This is a major breaking change (1.x.x to 6.1.0), and it was badly documented.
You can solve this by replacing `*` with `(.*)`.

Keep in mind the code sample you provided is vulnerable. Don't create a read stream to an user-provided file hahaha (eg `../../../../../etc/passwd%00`)

[2020-06-23 02:28] aaomidi commented on #78
Annnnnd just like that I'm back to express. Thanks @niftylettuce

[2020-06-23 10:08] niftylettuce commented on #78
Even Ryah Dahl, the author of Node.js and author of Deno has abandoned TypeScript.

And I got your message @aaomidi.  I hope your switch back to Express works for you.  I'm a former Express TC member and help to push the community forwards off legacy and bloat.

![Screen Shot 2020-06-23 at 5 04 46 AM](https://user-images.githubusercontent.com/523141/85391015-41206380-b50f-11ea-88e1-40cebc80a4bd.pn

[2020-06-26 17:25] julioagueros opened #92 "404 error when defining routes: Does order matter in defining routes?"
node.js version: v11.3.0

npm/yarn and version: 6.14.5

`@koa/router` version: 7.4.0

`koa` version: 2.5.2

#### Code sample:

in my routes file I have this
[code]

If I try to add a new route (so it looks like below) the last API (`/entity/status/`) doesn't get picked up and I end up with a 404 error.
[code]

However, if I set it at the beginning of these set of routes (like below) it works just

[2020-06-29 20:34] tedlin182 commented on #91
Thanks @tabarra ! Worked like a charm. Yes I agree with documenting this breaking change as it look me a bit to finally figure out the issue.

[2020-06-30 01:22] #91 closed

[2020-06-30 12:31] falkenhawk commented on #34
@kroleg This is a bug, see https://github.com/ZijianHe/koa-router/labels/first%20matched%20route
The **first** matched route should be used for executing its and only its middlewares. (not the last, not the most generic, etc. and definitely not multiple routes - I cannot imagine a case when executing multiple routes per one request would be a desirable and expected result)

Allegedly it was fixed

[2020-06-30 12:40] niftylettuce commented on #34
If anyone makes a PR I will award them a bug bounty, payable over PayPal.

[2020-06-30 13:03] falkenhawk commented on #34
@niftylettuce I've found this PR on the original repo which possibly fixes this issue: https://github.com/ZijianHe/koa-router/pull/525 and also something somewhat related: https://github.com/ZijianHe/koa-router/pull/492

[2020-06-30 13:54] niftylettuce commented on #34
Can someone review @mdenisov PR #93? cc @falkenhawk

@mdenisov if you're confident about it lmk

[2020-06-30 14:07] mdenisov commented on #34
@niftylettuce I transferred this [PR](https://github.com/ZijianHe/koa-router/pull/525) from the original repo and this fix solves this problem. Works great on my project :)

[2020-06-30 16:43] #34 closed

[2020-06-30 16:44] niftylettuce commented on #34
@mdenisov can you please send me your PayPal or preferred means of receiving a donation for your bug bounty award here?  niftylettuce@gmail.com

[2020-06-30 16:52] mdenisov commented on #34
@niftylettuce It is not necessary, thanks :)

[2020-07-01 14:40] cheneyweb opened #94 "middleware do not execute"
node.js version: v14.4.0

npm/yarn and version: 6.14.5

@koa/router version: 9.1.0

koa version: 2.13.0

Code sample:

router1.get('/user/query', async (ctx, next) => {
console.log('before')
})
router2.get('/:demo/query', async (ctx, next) => {
console.log('middle')
})
router3.get('/user/query', async (ctx, next) => {
console.log('after')
})

app.use(router1)
app.use(router2)
app.use(router3)

Wit

[2020-07-03 00:49] dios-david opened #95 "Multiple routes are executed"
There is an open bug in the original koa-router repository which I can still reproduce: https://github.com/ZijianHe/koa-router/issues/231

Is there any solution for this?

#### Code sample
[code]

#### Expected Behaviour
[code]

#### Actual Behaviour
[code]

#### Versions
[code]

[2020-07-03 09:14] CangJL opened #96 "post method not allowed"
`const Koa = require('koa');
const Router = require('@koa/router')
const Boom = require('boom');

const app = new Koa();
const router = new Router();

router.get('/',ctx => {
  console.log(ctx)
  ctx.body = "Hello World";
});

router.get('/user/:id',ctx => {
    ctx.body = `Hello user ${ctx.params.id}`;
});

//no post method
router.post('/user',ctx => {
    ctx.body = `create a user`;
})

app.use(

[2020-07-07 15:37] gigenthomas commented on #96
I have the same issue - post fails for a registered route with message "Method Not Allowed"

[2020-07-10 21:00] envelope commented on #92
Yes, order is a factor - [it matches first to last](https://github.com/koajs/router/blob/5b6d4ea7b42a28326969742e865f89e9cb71ab84/test/lib/router.js#L224).

In your first example: the `id` parameter picks up the `status` part of the path, and hence it stops looking for other routes to match.

If you really need to keep the order, it is possible, but I _wouldn't_ recommend it in this case.
[code]

[2020-07-10 21:34] envelope commented on #96
Which version of `koa` and `@koa/router` are you using? I'm _not_ able to reproduce it with the following:
- `koa` v2.13.0
-  `@koa/router` 9.3.1
- `koa-bodyparser` 4.3.0
- `boom` 7.3.0

[2020-07-18 15:35] aravindanve commented on #90
@yamavol Did you find a work around for this?

Here is a full reproduction of the issue:
[code]

Prints:
[code]

[2020-07-18 16:13] aravindanve commented on #46
@julienw I really need this behaviour, how do I achieve this. I am using different auth middleware in different routers and all of them get called for some reason. see https://github.com/koajs/router/issues/90#issuecomment-660499700

[2020-07-21 20:11] sichatur commented on #95
Hi @dios-david, were you able to find a workaround for this? I am facing the same issue. Don't know if it's a feature or a bug at this point.

[2020-07-21 22:10] dios-david commented on #95
Hi @sichatur, I did a workaround by not calling `next()` in the last handler in my routes, so the router won't get called the second time.
I think you can achieve the same by just adding a dummy handler which doesn't call `next()` at the end of the handler chain.
I hope it helps!

[2020-07-22 09:20] julienw commented on #46
The problem in #90 is that both routes match the first middleware, so the behavior I'm mentioning doesn't work for this case.
What seems to work though is reversing the order of your routes. I'll leave a message in the other issue.

[2020-07-22 09:20] julienw commented on #90
for me it seems to work to reverse the order of the route definition:
[code]
This gives:
[code]

Hope this helps!

[2020-07-22 15:01] artecoop opened #97 "Router .all throws 404"
Hello! (Pay attention: typescript ahead!)
I have a simple server in Koa and I just updated router to it's latest version and naming convention (from koa-router": "8.0.8").
[code]
Before any route is resolved, I need to check if the context's request has a token. If so, I transform the token to an object and pass it back in the context's state:
[code]
the entry point for the Koa server is
[code]

B

[2020-07-22 17:39] aravindanve commented on #90
@julienw I wanted a way to not have to order them like that, so I ended up writing a router. Thanks nevertheless!

https://www.npmjs.com/package/koa-branch-router

[2020-07-23 10:10] julienw commented on #90
Looks interesting, thanks for the pointer !

[2020-07-27 23:01] theoephraim commented on #84
Just a quick update in case anyone else comes across this. I was able to get the router to run another route properly, including other named param handlers, but you must reset some items on ctx first. Here is an example:
[code]

[2020-07-28 07:35] sichatur commented on #95
Thanks @dios-david.

[2020-08-07 08:27] OriolRF opened #98 "Bad request (400) for route that is a copy of a successful route"
Hi, I have a route module file for prefix /tasks with some routes. It has been working properly until I decided to include an extra route (GET /tasks/pending), for which I always get a 400 code result, even if I have it execute the same code of route /tasks/

The order in which I declare it doesn't change this weird behaviour. I can see it executes properly, because if I include console.log with t

[2020-08-07 10:54] OriolRF commented on #98
SOLVED. The problem was related to a route definition conflict

[2020-08-07 10:54] #98 closed

[2020-08-07 10:55] BainDragneel commented on #34
Thanks very much, I have some things I did not pay attention to this issue in time, sorry!

[2020-08-12 18:07] TLPcoder opened #99 "Url params not part of ctx.request"
Params are part of the request and should be part of the request object of the ctx in koa. Similar to how headers, query, url, method, and other request related data are. This request is more to follow the domain of where data should belong rather than fixing a bug. I have created, forked, updated, and unit tested the code.

[2020-08-12 20:45] niftylettuce commented on #99
Can you submit a PR or something so I have something to look at?  Also, your GitHub email and username might need fixed, your commits are not showing with the same @TLPCoder icon/GitHub profile.

![Screen Shot 2020-08-12 at 3 45 16 PM](https://user-images.githubusercontent.com/523141/90066062-d5f34200-dcb2-11ea-987d-3d92eeefdc8b.png)

[2020-08-14 01:40] #99 closed

[2020-08-26 12:38] dsmackie opened #101 "`ctx.routerPath` causes routes to fail path matches"
node.js version: v14.4.0
npm/yarn and version: 6.14.5
`@koa/router` version: 9.3.1
`koa` version: 2.13.0

#### Code sample:

[code]

#### Expected Behavior:

With a call to `/demo/query` it is expected that;

`router1` will match and `first` will be output to console
`router2` will match and `second` will be output to console

#### Actual Behavior:

`router1` does match and `first` is output to co

[2020-08-26 12:49] dsmackie commented on #95
Old issue but a solution is to enforce the requirement for the second route to be a number.

Changing the match path to `'/users/:id(\\d+)'` will ensure that it will only match if the `:id` is of type decimal.

[2020-08-27 07:55] niftylettuce commented on #101
This is a non-issue, you should instead have something like this:

[code]

[2020-08-27 07:55] #101 closed

[2020-08-27 08:01] dsmackie commented on #101
@niftylettuce You should go through #92, #94 and #97 also and close those since they are related to this exact situation. The reason I looked into this is because of the extended period those issues have been open.

[2020-08-31 05:51] 6613974 commented on #96
I have the same problem, the latest version or the version you mentioned has the same problem.
The demo actually works
results：

router.get('/' xxxxxx)  [true]
router.post('/api',xxxxxx) [false]

router.get('/'xxxxx).post('/api','xxxxxxxx') [true]

Only the GET method exists

[2020-08-31 06:44] 6613974 commented on #96
demo:
[code]

[2020-09-08 15:30] Cherviakov opened #103 "HEAD method support?"
node.js version: 14.4.0

npm/yarn and version: 6.14.5

`@koa/router` version: 9.4.0

`koa` version: 2.13.0

#### Code sample:

[code]

[code]

#### Expected Behavior:

HTTP/1.1 404 Not Found
Date: Tue, 08 Sep 2020 15:25:18 GMT
Connection: keep-alive

#### Actual Behavior:

code 200 with x-pong header

#### Additional steps, HTTP request details, or  to reproduce the behavior or a test case:
[code]

[2020-09-08 15:37] Cherviakov commented on #103
Ups, was mistake on my side.

[2020-09-08 15:37] #103 closed

[2020-09-12 08:06] maxyou opened #104 "ver 9.4.0 not compatible with path-to-regexp ?"
I set up a very base project with koa+typescript+router.

if
[code]
then
`PS D:\Dev\TypeScript\koa-typescript-starter-master> npm run watch-server

[nodemon] 2.0.4
[nodemon] to restart at any time, enter `rs`
[nodemon] watching path(s): 'src\**\*'
[nodemon] watching extensions: ts,tsx
[nodemon] starting `ts-node ./src/server.ts`

D:\Dev\TypeScript\koa-typescript-starter-master\node_modules\path-to

[2020-09-12 19:56] anthony-kenikh commented on #104
@maxyou Could you provide your code?
Most likely the problem is what is you should change usage of `*` in routes to `(.*)` or `:splat*` as per [koajs/router v9 changelog](https://github.com/koajs/router/blob/master/history.md).

[2020-09-14 05:37] maxyou commented on #104
Yes! You are right! this issue is from:

`router.get('/*', async (ctx) => {
    ctx.body = 'Hello World!';
});`

After I remove '*', everything is OK!

[2020-09-14 05:38] #104 closed

[2020-09-23 17:01] Gary-Osteen-Q2 opened #105 "Router.match is returning pathAndMethod matches for layers without methods such as nested routers or middleware"
**Description**
When using nested routers and other middleware, the Router.match can include layers without methods in the matched.pathAndMethod array. This can cause issues downstream when setting the ctx._matchedRouteName, causing named routes to not be set properly. The assumption being that the last item in the pathAndMethod array being the most specific layer.

node.js version: v12.18.3
npm/y

[2020-09-23 20:12] Gary-Osteen-Q2 commented on #105
I have a branch with fixes. I just need to figure out what I need to do to get permission to push to here.

[2020-09-23 20:41] dominicegginton commented on #105
Hi @Gary-Osteen-Q2, I havent had time to look into the issue you are having but it sounds like you have found a solution 😄. In order to push your fixes to this repo you will need to submit a Pull Request.
- First [Fork](https://docs.github.com/en/github/getting-started-with-github/fork-a-repo) the koajs/router repo to your GitHub account
- Commit your changes to your GitHub fork
- Open a [Pull Req

[2020-09-23 20:48] Gary-Osteen-Q2 commented on #105
I figured it out. First time contributing to open source. Learned a lot.

[2020-10-01 14:36] Gary-Osteen-Q2 commented on #105
@dominicegginton Have you got a chance to look over my PR yet? I'm curious if it meets the standards and want to include a new version in the project I am using this in. I have a workaround for the time being. Thanks in advance for any insights and feedback.

[2020-10-02 10:04] dominicegginton commented on #84
@theoephraim Thank you for your solution.

@niftylettuce Can you please close this issue?

[2020-10-02 15:52] #84 closed

[2020-10-02 20:56] theoephraim commented on #84
I think it would still be useful to have something like built in, like express has `next('route')`

[2020-10-06 21:10] linde12 opened #109 "@koa/router vs koa-router confusion"
Hi.

I'm trying out Koa and i wanted to get started with a simple crud app with a couple of routes but quickly ran into problems. There is a package on npm, `@koa/router`, which is under koajs/router here on Github, but there is also a package called `koa-router` with 4.7k stars on github which looks to be the same thing. However when installing types with `npm i @types/koa-router` the declaration

[2020-10-07 08:22] dominicegginton commented on #109
Hi @linde12

This module is forked from the original koa-router due to its lack of activity, and this repository is now the official version. Install with `npm i @koa/router`. I would be nice to have all the official **Koa** modules be published to the npm registry under the **Koa** scope as this would make it easier for newcomers like yourself.

To address your typescript issues try [**@tpes/koa_

[2020-10-07 16:24] linde12 commented on #109
Ah, i see! I will try the @types/koa__router package. Closing the issue, thank you!

[2020-10-07 16:24] #109 closed

[2020-10-29 21:28] jmealo commented on #105
@dominicbarnes @niftylettuce: This is @Gary-Osteen-Q2's first open source contribution. I believe these changes are required/related to the following upstream issue for Koa's Open Telemetry instrumentation plugin:
https://github.com/open-telemetry/opentelemetry-js-contrib/issues/222. Do either of you have some time to review this? I'd like to build upon it.

[2020-10-30 11:38] dominicegginton commented on #105
@jmealo I have already approved #106, just waiting on a core contributor to take a look and possibly merge.

[2020-11-02 14:58] lsaether opened #111 "Add alink to API.md from README"
It's not obvious that the docs are located at API.md, adding a link from the README would greatly help anyone new to the library.

[2020-11-02 14:59] niftylettuce commented on #111
can you PR?

[2020-11-11 18:59] jdalrymple commented on #95
I run into this problem without even using next :s

[2020-12-22 04:18] shellscape commented on #91
This still isn't documented on the API Reference. It takes but a minute to add a few words folks.

[2020-12-22 04:53] niftylettuce commented on #91
PR welcome!

[2020-12-22 04:59] shellscape commented on #91
Clean up the existing PRs and I'd consider it. Stale PRs in a project is not exactly welcoming to more contributions, especially from folks who are themselves extremely active maintainers of popular open source projects.

[2020-12-22 15:44] niftylettuce commented on #91
As stated, I will accept a PR if you open one and ping me after.  My email is niftylettuce@gmail.com as well if you want to ping by email when PR is done.  If the PR is only a few minutes to open then you should have no problem, thank you.

[2020-12-30 18:40] winkies commented on #97
Hello !

By now, I hope you figured it out.

But if not and regarding your use case, I will take a look to [koa-jwt](https://github.com/koajs/jwt), a middleware for validating JSON Web Tokens.

It should work with @koa/router.

[2020-12-30 22:50] dominicegginton commented on #97
I believe this issue can be closed as the resolution was given by @niftylettuce over on #101

[2020-12-31 07:43] #97 closed

[2021-01-21 23:31] masonhugus opened #113 "Router with prefix and middleware causes additional entry to get injected into ctx.params"
node.js version: 12.20.1

npm/yarn and version: npm 6.14.10

`@koa/router` version: 10.0.0

`koa` version: 2.13.1

#### Code sample:

[code]

#### Expected Behavior:

GET `http://localhost:3000/ping/pong`

[code]

#### Actual Behavior:

GET `http://localhost:3000/ping/pong`

[code]

#### Additional steps, HTTP request details, or  to reproduce the behavior or a test case:

- The prefix must be a n

[2021-01-24 07:18] Alan-Liang opened #114 "Unexpected behavior on nested routers"
Hi. I noticed an inconsistent behavior between mounting a router onto an app (`app.use(router.routes(), router.allowedMethods())`) and onto another router (`router.use('/base/path', subRouter.routes(), subRouter.allowedMethods())`) when mounting happens before adding routes to the router. This is because when `router.use()` detects a sub-router it makes a clone of it instead of directly using it a

[2021-02-18 23:08] giocodes opened #115 "a"
node.js version:

npm/yarn and version:

`@koa/router` version:

`koa` version:

#### Code sample:

[code]

#### Expected Behavior:

#### Actual Behavior:

#### Additional steps, HTTP request details, or  to reproduce the behavior or a test case:

[code]

[2021-02-18 23:08] #115 closed

[2021-02-26 21:06] talentlessguy commented on #89
Hey, I know it's a bit of late but there's [i18-next-http-middleware](https://github.com/i18next/i18next-http-middleware) that can be used with Koa as well (and any other Node.js web framework)

[2021-02-26 21:23] niftylettuce commented on #89
I wouldn't use that, we have this built into @ladjs, see `@ladjs/i18n` at https://github.com/ladjs/i18n

[2021-02-26 21:23] #89 closed

[2021-04-15 09:22] thangly98 opened #117 "Koa Router not working on production NextJS"
Hi, The api link works normally in the dev version, but returns a 404 in production

node.js version:  14.16.0

npm/yarn and version: 1.22.5

`@koa/router` version: 10.0.0

`koa` version: ^2.13.1

#### Code sample (server.js):
[code]

#### Expected Behavior:

#### Actual Behavior:

#### Additional steps, HTTP request details, or  to reproduce the behavior or a test case:

[code]

[2021-04-28 02:35] #117 closed

[2021-05-01 23:03] melvingaye commented on #95
Thank you. I'm running into this with just one router.

[2021-05-10 15:20] CodyEakins opened #118 "Fix confusing behavior for router.use() when passing in an array of paths (to match all paths)"
**Node.js Version**: v14.15.0
**npm Version**: v7.11.2
**@koa/router Version**: v10.0.0
**koa Version**: v2.13.1

## Code Sample, Expected Behavior, Actual Behavior:

Let's say that I'm making an API server, and I want the version prefix on my endpoints to be optional:
[code]
... such that I can call the `users` endpoint two separate ways: `/api/v1/users` or `/api/users`.

With the following code:

[2021-06-04 11:51] hahei89 opened #119 "When I use @koa/router and mysql, and async/await I still get not found"
node.js version:  14

npm/yarn and version:

`@koa/router` version: 10.0.0

`koa` version: 2.13.1

#### Code sample:

My router.js is here:
[code]
My sql.js is here:
[code]
#### Expected Behavior:

I want to get data
#### Actual Behavior:

Actually I got 'not found '  by postman

[2021-06-08 18:00] valorad opened #120 "Map object is empty in the context body"
node.js version: v14.16.1

npm/yarn and version: 6.14.12

`@koa/router` version: @10.0.0

`koa` version: @2.13.1

#### Code sample:

[code]

#### Expected Behavior:

Front-end receives:
{
  "a:" "b",
  "c": "d"
}

#### Actual Behavior:

Front-end receives:
{}

#### Additional steps, HTTP request details, or  to reproduce the behavior or a test case:

Reproduction Repo:

https://codesandbox.io/s/in

[2021-06-17 10:09] yeliex commented on #119
call `ctx.status = 200` to set response status specifically

[2021-06-17 15:22] lagden commented on #119
@hahei89

remove `await next()`

[2021-06-30 13:59] egorovli opened #122 "Nested router's middleware has no access to request params"
`node.js` version: `16.2.0`
`yarn` version: `1.22.10`
`@koa/router` version: `10.0.0`
`koa` version: `2.13.1`

#### Code sample:

[code]

#### Expected Behavior:

The middleware prints `userId` to console.

#### Actual Behavior:

The middleware prints 'No user ID in params' because `ctx.params.userId` is undefined.

#### Additional steps, HTTP request details, or  to reproduce the behavior or a te

[2021-07-03 13:18] 3imed-jaberi commented on #120
@valorad, if you need support `Map` .. you can open an issue [here](https://github.com/koajs/koa/issues).

[2021-07-11 18:11] cmd-johnson commented on #53
I got `@koa/router` to work with `koa-compose` like this:
[code]

I'm pretty sure `middleware.router` belongs to the internal API of `@koa/router` and as such may be changed without notice, but for now this appears to be working perfectly fine.

[2021-07-15 15:15] 3imed-jaberi commented on #96
@CangJL, it's work fine with the latest release (10.x.x).
@niftylettuce, please close this issue.

[2021-07-15 20:40] 3imed-jaberi commented on #120
@niftylettuce, please close this issue

[2021-07-15 21:52] 3imed-jaberi commented on #122
I have a quick solution to fix this behave but it's break 2 test case
- Layer > Layer#match() > populates ctx.captures with regexp captures include undefiend:
- Router > matches corresponding requests with optional route parameter:

My Solution:

[code]

@miwnwski, what do you think here ?!

[2021-07-15 21:55] 3imed-jaberi commented on #119
@hahei89, I checked your example with promise take more than 5s to resolve and it's work fine. please check your connection, mysql server, env ...

[2021-07-15 22:08] 3imed-jaberi commented on #118
@CodyEakins, can you verify your example because the actual behavior work fine as expected.
(please tell me if my example it worng)

[code]

[2021-07-15 22:19] 3imed-jaberi commented on #114
@Alan-Liang, you cann't expect response from empty router (I mean router with out registred routes.)
[code]

[2021-07-15 23:10] 3imed-jaberi commented on #53
@niftylettuce, please close this issue.

[2021-07-16 22:57] miwnwski commented on #122
I actually don't use Koa-router so I have very little insight. @niftylettuce probably has more to say about this than I do I'm afraid.

[2021-07-19 18:06] niftylettuce commented on #122
@3imed-jaberi im open to that 100%

[2021-07-20 20:24] #113 closed

[2021-07-20 20:26] niftylettuce commented on #113
v10.1.0 released to npm 🎉  thank you @3imed-jaberi 🙇

https://github.com/koajs/router/releases/tag/v10.1.0

[2021-07-21 04:15] #96 closed

[2021-08-04 06:17] kukukk opened #125 "Route callback from a controller class"
I'm working on defining my controllers in separate classes, but I encountered a strange situation (at least for me it is :}). It probably is not koa-router related, but I hope that somebody can explain why is this happening.

node.js version: v14.16.0
npm version: 7.19.1
`@koa/router` version: 10.1.0
`koa` version: 2.13.1

#### Code sample:

[code]

#### Expected Behavior:

I expect to see in the

[2021-08-05 17:26] dominicegginton commented on #125
Thanks for opening an issue. You are right this is not related to **koa-router**, but I believe I can help. You are experiencing this because you are using the async function called `test()` as a high order function (passed as an argument). When you pass a high order function you will not be able to access *this* as it will be undefined. You see the expected result when you send a request to the *

[2021-08-05 17:31] kukukk commented on #125
Thank you for pointing me to the right direction.

[2021-08-05 17:31] #125 closed

[2021-08-18 10:44] alecmev opened #126 "The matchedRoute fix is a breaking change and should be documented"
I'm talking about #93. Specifically, the addition of `ctx.routerPath = layer.path`.

I understand that this was unintended behavior, but it has existed for multiple major versions, from 5.2.x to 9.0.x, spanning 5 (!) years, and I imagine many relied on it, like ourselves, so it's certainly a breaking change and warranted a major release. I've upgraded our relatively convoluted Koa backend recently

[2021-08-21 07:07] RavenHursT opened #127 "Not Implemented and Not Allowed error response docs example w/ Hapi Boom doesn't work"
node.js version:
[code]

npm/yarn and version:
[code]

`@koa/router` version:  `10.1.0`

`koa` version: `2.13.1`

#### Code sample:

Borrowed from https://github.com/koajs/router/blob/master/API.md#routerallowedmethodsoptions--function

[code]

#### Expected Behavior:

Should "just work" and give me `501 NOT IMPLEMENTED` when I call a route that doesn't an HTTP method implemented

#### Actual Beha

[2021-08-21 10:34] niftylettuce commented on #127
This is an issue with Boom.  Note that Boom is now `@hapi/boom` I think, and the usage is a bit different.

[2021-08-21 10:34] #127 closed

[2021-08-21 17:16] RavenHursT commented on #127
@niftylettuce but I didn't get the coffee example above from hapi's docs.  As I noted, this is in _koa-router_'s docs 🤔

[2021-08-21 18:49] niftylettuce commented on #127
can you submit a PR with fixes? would be super appreciated to help keep
docs up to date!!!

On Sat, Aug 21, 2021 at 12:16 PM Matthew Marcus ***@***.***>
wrote:

[2021-08-21 22:18] RavenHursT commented on #127
Sure.. can we reopen this and I'll make a PR off it?

[2021-08-21 22:37] niftylettuce commented on #127
just reference it in the commit message and stuff

[2021-08-22 15:37] niftylettuce commented on #127
Thanks again!

[2021-08-25 14:18] medfreeman commented on #95
I just introduced a PR, #129 that fixes the issue.
It seems however that, without changing the matching logic, the only route that will be executed is the route that was registered last.
c.f. https://github.com/koajs/router/blob/90dd73c44d0e76db0890b552023711de896c12d3/lib/router.js#L356

The tests i introduced show that a "best" match is not currently implemented for multiple routes that have the

[2021-09-03 00:01] ferbs opened #130 "Endpoints for CORS requests"
For nested routes, @koa/router rejects CORS preflight requests as 404s because there's not an explicit endpoint defined for these OPTIONS requests. As a workaround, I'm explicitly adding endpoints, eg:

[code]

Where `somePathDefinition` is a [path-to-regex](https://github.com/lastuniverse/path-to-regex). Is there something better to use than the above matching `'(.*)'` but easier to maintain than

[2021-09-08 18:44] joshbenaron opened #131 "Priority routes not working"
node.js version: 16.8

`@koa/router` version: 10.1.1

`koa` version: 2.13.1

#### Code sample:

[code]

#### Expected Behavior:

When I go to `GET /ping` - I should see a specific output

#### Actual Behavior:

`GET /ping` is going to `GET /:txId`

[2021-09-17 03:57] JeDaYoshi commented on #131
Do you have a `next()` on your `/ping` middleware? If you don't want any other routes to be executed, you should remove it.

[2021-11-19 10:17] erwinv commented on #130
Have you tried [router#allowedMethods](https://github.com/koajs/router/blob/master/API.md#module_koa-router--Router+allowedMethods)?

[2021-11-19 19:47] ferbs commented on #130
Thanks. Just tried it but it breaks some tests, returning an undesired 200 to endpoints that don't want requests from browsers.
I tried applying it to just an individual nested router without success, getting 404s again with `router.use(router.allowedMethods());` instead of `app.use(router.allowedMethods());`

[2021-11-20 02:55] knockkk opened #135 ""new Router()" cause "router_1.default is not a constructor" error"
node.js version: v17.0.1

npm/yarn and version:
yarn 1.22.15

`@koa/router` version: 10.1.1

`koa` version: 2.13.4

#### Code sample:

[code]

#### Expected Behavior:
no error

#### Actual Behavior:
TypeError: router_1.default is not a constructor

#### Additional steps, HTTP request details, or  to reproduce the behavior or a test case:

[code]

[2021-11-20 05:57] #135 closed

[2021-12-01 21:54] niftylettuce opened #137 "Looking for help maintaining this package!"

[2021-12-14 20:07] budarin opened #138 "Receive 404 with busyboy"
node.js version: 16.9.0

yarn version:  1.22.15

`@koa/router` version:  10.1.1

`koa` version:  2.13.4

#### Code sample:
[code]
Here is a simple uploadFile code

[code]

#### Expected Behavior:

Expected client have received "Ok" text with 200 status

#### Actual Behavior:

Have 404 error while busboy did its job - save files in stream and fired `finish` event properly

#### Additional steps, HT

[2021-12-14 20:35] budarin commented on #138
Solved!
I must use Promise to wait for busboy as

[code]

[2021-12-14 20:35] #138 closed

[2021-12-21 04:42] nightlyherb commented on #90
Did I understand correctly that

1. When nesting routers,
the inner routes are copied and merged into the outer router,
making the structure of the outer router a flat list rather than a tree?

2. Item 1 is the cause of the behavior in the above example?
(i.e. middleware in `routerBranch1` running on route in `routerBranch2`)

3. In order to make the middleware "local" to the router,
I should make

[2021-12-21 10:42] julienw commented on #90
I don't understand your line 1; indeed I believe the problem happens when not creating new routers.

I tried to fix this in https://github.com/koajs/router/issues/44 but this was rejected. I believe that the solution when using `koa-router` is indeed to create routers for each context. Or use another router :-)

[2021-12-21 11:46] jdrydn commented on #130
I think perhaps you're after [`@koa/cors`](https://www.npmjs.com/package/@koa/cors)?

If you run the `cors(...)` middleware in `router.use`, then it'll execute, **if and only if**, a route is matched, and return earlier than your route logic:

[code]

You could also place the CORS middleware at the higher `app` level & have it return before it even reaches the router middleware.

[code]

[2021-12-21 11:49] jdrydn commented on #137
@niftylettuce 👋  As a developer using this frequently/widely, I'd be open to helping out. What do you need?

[2021-12-22 03:50] nightlyherb commented on #90
I think #44 is orthogonal to this issue.

That issue is about the `Router.use`d middleware not executing when no paths are matched.
In order to solve that one needs to use `router.(get|post|...|all)` instead.

This issue is about `Router.use`d middleware on "inner router 1" executing on a match in "inner router 2", which, I suspect, is because there is no "local scope" for the inner routers. (This

[2021-12-30 04:10] jamesaspence commented on #137
I'd be receptive to helping as well! I use this library pretty often so if I can provide help back, I'd be happy to do so.

[2022-01-13 08:27] 1stgg opened #139 "Using two routers, the next bug of regular routing"
node.js version: v14.17.6

npm/yarn and version: 1.22.11

`@koa/router` version: 10.1.1

`koa` version: 2.13.4

#### Code sample:

[code]

#### Expected Behavior:
GET http://localhost:3000/test/child
response.body =  '/test/child'

#### Actual Behavior:
GET http://localhost:3000/test/child
response 404 Not Found

#### Additional steps, HTTP request details, or  to reproduce the behavior or a test

[2022-01-13 08:29] 1stgg commented on #139
Normal if regular routing is not used
[code]

[2022-01-13 12:20] sakurayang opened #140 "path-to-regexp@6.2.0 will cause error"
node.js version: 14.15.4

npm/yarn and version: 1.11.10

`@koa/router` version: 10.1.1

`koa` version: 0.21.5

#### Code sample:

[code]

#### Expected Behavior:

It will start an HTTP server

#### Actual Behavior:

[code]

So I lookup the lock file and found that `path-to-regexp@^6.1.0` was resolved to 6.2.0

[code]

... then I dig into node_modules, found the file tree was

[code]

but I try  `y

[2022-01-13 20:21] niftylettuce commented on #140
Running your test I get the following error:

[code]

[2022-01-13 20:21] #140 closed

[2022-01-13 20:23] niftylettuce commented on #140
You need to change this:

[code]

[2022-01-14 04:44] antonpious opened #141 "Route followed by required verbs and handler syntax"
`@koa/router` version:
10.1.1
`koa` version:
2.13.4
#### Code sample:
In express route if we want to match multiple verbs with the same route we could provide the following syntax
[code]

What is the equivalent syntax in Koa Router? Currently its expecting the route to be repeated.
[code]
Does the router support optional parameters?

[2022-01-14 08:54] YornQiu commented on #139
对于/test/child，两个路由都匹配上了，然后依次执行了对应的handler，就产生了错误。
因为这个koa-router的匹配规则就是匹配上的都会执行。
实际上早有人提出了问题并且发起了PR来解决这个问题，但是这个库貌似挺久没维护了。。。
目前只能换一种route的写法，让他不会匹配上多个。

[2022-01-17 23:22] #111 closed

[2022-01-17 23:54] niftylettuce commented on #126
PR welcome?

Thanks for sharing `koa-tree-router`, will check it out.

[2022-01-22 14:26] onlydevelop commented on #137
You can count me in.

[2022-01-24 04:18] jamesaspence commented on #114
perhaps the docs just need to emphasize that routers are cloned at time of binding the middleware, but this feels like an intentional feature - I think it's reasonable to expect that a router would only apply what had already been registered at time of `use`.

[2022-02-08 03:19] noinkling opened #142 ".url() and other methods that take route names are awkward to use with nested routers because of name collisions"
node.js version: 16.13.2

`@koa/router` version: 10.1.1

`koa` version: 2.13.4

#### Explanation:

In order to get the full path of a named route in a nested router using the `.url()` method, we have to call it on the base router (same principle applies for `.redirect()` and `.route()`):

[code]
[code]

This is a little bit of a pain to remember, but makes sense when you consider that a nested rou

[2022-02-21 15:44] taufan-mft commented on #137
count me in

[2022-02-21 17:00] niftylettuce commented on #137
Thanks everyone.  Mainly need help to remind me with pings and @ mentions if I'm to merge a PR or if you had comments/feedback on existing PR's issues.  Getting to zero issues/PR's would be amazing.  Feel free to spam as well.

[2022-03-22 23:02] HermanLederer commented on #76
Seems the issue arose again.

The following code results in the same error. `Unexpected MODIFIER at 0, expected END`
[code]

The following code works fine
[code]

[2022-04-18 07:02] wengeezhang opened #147 "better to check path before register"
if you add handler like this:
[code]
you'll get an error like this:
[code]
The error message is less helpful for user to find the bug.

so it's better to check path before call register. if path not provide, just provide a clear error message like this:
[code]

[2022-04-18 07:09] wengeezhang commented on #147
please check pr [#148 ](https://github.com/koajs/router/pull/148)

[2022-06-26 01:27] etroynov commented on #126
@3imed-jaberi  can you look at it?

[2022-06-29 16:30] peterver commented on #137
Same here :) we use koa/koa-router exclusively on a 50+ microservice setup. Would definitely be willing to pitch in. Let me know what I/we can do :)

[2022-07-04 16:24] gunnx opened #157 "Global middleware for 404 overwrites allowed methods response output"
Koa version: 2.13.4
@koa/router version: 11.0.1

[code]

Test 1:   Request [GET] http://localhost:3000/  // outputs 'Hello' (200) ✅
Test 2:  Request [GET] http://localhost:3000/foo // outputs 'not found' (404) ✅
Test 3:  Request [POST] http://localhost:3000/ // outputs 'not found' (405) expected Method not allowed ❌

If I try to log out the ctx.status in the final middleware for Test 3 it always s

[2022-07-08 14:06] peterver commented on #131
@joshbenaron would you consider this resolved? :)

[2022-07-08 14:12] peterver commented on #119
@hahei89 Apologies for commenting on an older discussion, but were the router.js and sql.js the only scripts in this project?

If so, don't forget to mount the router onto a koajs instance, eg:

[code]

[2022-07-22 10:31] widyakumara commented on #157
this one works for me:

koa: 2.13.4
@koa/router: 12.0.0

[code]

hth

[2022-08-05 16:10] slavafomin opened #158 "A catch-all 404 handler for koa?"
Hello!

I'm trying to implement a pretty trivial thing — a catch-all handler that will return 404 when request handler is not found for the request in question, however, I can't find any related examples in the docs and the Internet. What is the best practice for this?

The example below won't work because the `router.all('/(.*)')` will intercept all requests after they were handled. Of course I c

[2022-08-06 12:43] slavafomin commented on #158
After looking a bit deeper, it looks OK not to call `next()` in the request handlers as long as the handler returns the Promise and correctly resolves/rejects it. This shouldn't produce any issues with the wrapping middleware that is registered before.

Here's the working solution:

[code]

[2022-08-06 13:10] slavafomin commented on #158
And yet after having another thought, what if you have middleware for response transformation that needs to be called after route handler? Then calling `next()` would be mandatory and we are getting back to my original question.

[2022-08-12 00:55] zhizhemodi opened #159 "[feat] ctx's key of _matchedRoute"
Hello!

When I changed from old version to this new version, I found that the ctx._matchedRoute no longer give the mostSpecoficLayer.path, but the old version code still exist, so I think if the ctx._matchedRoute in router.js line 403 can change to ctx._lastMatchedRoute then people can use the mostSpecificLayer.path again.

[code]

[2022-08-12 11:57] ThaDaVos commented on #158
Sadly running into the same issue - did you find a solution?

[2022-08-16 18:51] ivanoff commented on #139
The same thing:

[code]
on `curl localhost:3002/12` will print:

[code]

created pr for this issue: https://github.com/koajs/router/pull/160

[2022-08-16 19:01] ivanoff commented on #139
@1stgg it can be solved by redefined `routerPath`:

[code]

[2022-08-27 14:58] itabbot opened #161 "[fix] The directory in the API documentation does not work."
In the [API documentation](https://github.com/koajs/router/blob/master/API.md#table-of-contents) directory, some links with the `<code>` tag did not work, which I discovered because the link's anchor point was incorrect.

Like this headline:

[code]

Its correct anchor point is this:

[code]

But the actual link anchor in the directory is wrong:

[code]

[2022-08-30 18:47] jmanzo commented on #76
Hey, sup guys? If any of you still have the same issue, I got it working:

`router.get(`/subpath/:splat*`, verifierMiddleware);`

Just in case you're facing the same exact issue I did.

[2022-09-01 07:51] Breavyn commented on #158
I handle this in the applications error middleware.

[code]

If any of my handled routes need to return 404, they do so by throwing an error. If `await next();` completes without error, and the status is set to 404, I can assume the router has done this.

[2022-10-02 14:39] #161 closed